---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

export interface Props {
	description?: string;
	ogImage?: string;
	title: string;
	twitterCardStyle?: string;
}

const {
	description = "Marty Gostisha: About me, Blog, TIL and more",
	ogImage = "/images/og-image-default.png",
	title,
	twitterCardStyle = "summary_large_image"
} = Astro.props;

const url = Astro.url.href;
const pageTitle = `${title} | mcgostisha.com`;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta content={description} name="description">
		<meta content={pageTitle} property="og:title">
		<meta content={description} property="og:description">
		<meta content={ogImage} property="og:image">
		<meta content={url} property="og:url">
		<meta content="website" property="og:type">
		<meta content={twitterCardStyle} name="twitter:card">
		<meta content="@mg0stisha" name="twitter:site">
		<meta content="@mg0stisha" name="twitter:creator">
		<script defer data-domain="mcgostisha.com" src="https://plausible.io/js/plausible.js"></script>
	</head>
	<body>
		<div id="root">
			<Navbar />
			<main>
				<slot />
				<Footer />
			</main>
		</div>
	</body>
</html>
